* {
    margin: 0;
    padding: 0;
}

.resume-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
   /*  padding-top: 30px; */
    padding-bottom: 50px;
    background-color: white;
    min-height: 100vh;
    align-items: center;
    margin-left: 0;
    position: relative;
}

@media screen and (max-width: 690px) {
    .resume-container {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 540px) {
    .resume-container {
        min-height: 50vh;
    }
}

.resume-container #resume {
    position: absolute;
    top: 16px;
}

.resume-container h3,
.resume-container h1 {
    margin-left: 0;
    z-index: 5;
}

.resume-container h3 {
    margin-left: 0;
    margin-bottom: 6px;
}

.resume-container h1 {
    margin-left: 0;
    text-align: center;
    margin-bottom: 79px;
    font-size: 92px;
    font-weight: 700;
    background: rgb(38, 164, 239);
    background: linear-gradient(315deg, rgba(38, 164, 239, 1) 0%, rgba(39, 164, 239, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 810px) {
    .resume-container h1 {
        font-size: 82px;
        max-width: 650px;
    }
}

@media screen and (max-width: 690px) {
    .resume-container h1 {
        font-size: 72px;
        max-width: 600px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 620px) {
    .resume-container h1 {
        font-size: 60px;
        max-width: 500px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 540px) {
    .resume-container h1 {
        font-size: 54px;
        max-width: 450px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 470px) {
    .resume-container h1 {
        font-size: 48px;
        max-width: 400px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 420px) {
    .resume-container h1 {
        font-size: 40px;
        max-width: 330px;
        margin-bottom: -40px;
    }
}

@media screen and (max-width: 368px) {
    .resume-container h1 {
        font-size: 34px;
        max-width: 270px;
        margin-bottom: -40px;
    }
}

.resume-container .resume-box {
    border: none;
    z-index: 8;
    margin-right: 4px;
    border-radius: 28px;
    background: rgb(30, 208, 252);
    background: linear-gradient(300deg, rgba(30, 208, 252, 1) 0%, rgba(2, 98, 224, 1) 100%);
    width: 731px;
    height: 372px;
    align-items: center;
    display: flex;
}

@media screen and (max-width: 770px) {
    .resume-container .resume-box {
        transform: scale(0.9);
    }
}

@media screen and (max-width: 690px) {
    .resume-container .resume-box {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 620px) {
    .resume-container .resume-box {
        transform: scale(0.69);
    }
}

@media screen and (max-width: 540px) {
    .resume-container .resume-box {
        transform: scale(0.6);
    }
}

@media screen and (max-width: 470px) {
    .resume-container .resume-box {
        height: 500px;
        width: 350px;
        margin-top: 100px;
        transform: scale(1);
    }
}

@media screen and (max-width: 368px) {
    .resume-container .resume-box {
        width: 295px;
        height: 500px;
        transform: scale(1);
    }
}

.resume-container .resume-box .resume-box-left {
    align-self: flex-end;
    position: relative;
}

.resume-container .resume-box .resume-box-left img {
    max-height: 372px;
    position: absolute;
    bottom: 0px;
    -webkit-filter: drop-shadow(0px 0px 2px #222222);
    filter: drop-shadow(0px 0px 2px #222222);
}

@media screen and (max-width: 470px) {
    .resume-container .resume-box .resume-box-left img {
        left: 60px;
        max-height: 212px;
    }
}

@media screen and (max-width: 368px) {
    .resume-container .resume-box .resume-box-left img {
        left: 30px;
    }
}

.resume-container .resume-box .resume-box-right {
    max-width: 290px;
    margin-left: 51.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 470px) {
    .resume-container .resume-box .resume-box-right {
        margin: 0 auto;
        margin-bottom: 185px;
    }
}

.resume-container .resume-box .resume-box-right a {
    text-decoration: none;
    color: transparent;
}

.resume-container .resume-box .resume-box-right p {
    margin-bottom: 42px;
    font-family: "Inter", sans-serif;
    color: white;
    text-align: center;
}

@media screen and (max-width: 360px) {
    .resume-container .resume-box .resume-box-right p {
        font-size: 14px;
        max-width: 225px;
    }
}

.resume-container .resume-box .resume-box-right button {
    border-radius: 24px;
    width: 198px;
    border: none;
    padding: 15px 22px;
    box-sizing: border-box;
    height: 52px !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 22px;
    gap: 8px;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 17.35px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.resume-container .resume-box .resume-box-right button .svg {
    height: 24px;
    width: 24px;
}

.resume-container .resume-box .resume-box-right .download {
    background-color: #0064ff;
    margin-bottom: 8px;
}

.resume-container .resume-box .resume-box-right .download:hover .download-svg {
    margin-top: 6px;
}

.resume-container .resume-box .resume-box-right .download .download-svg {
    fill: white;
    transition: 0.225s ease-in-out all;
}

.resume-container .resume-box .resume-box-right .contact {
    background-color: white;
    color: #0064ff;
    transition: 0.3s all;
}

.resume-container .resume-box .resume-box-right .contact:hover {
    background-color: #0064ff;
    color: white;
}

.resume-container .resume-box .resume-box-right .contact .contact-svg {
    fill: #0064ff;
    transition: 0.3s all;
}
