* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    z-index: 40;
    position: fixed;
    top: 1.235em;
    border-radius: 38px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    align-items: center;
    height: 51px;
    padding: 4px 8px;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
}

@media screen and (max-width: 500px) {
    nav {
        height: 40px;
    }
}

@media screen and (max-width: 386px) {
    nav {
        height: 34px;
        padding: 4px 5px;
    }
}

nav img {
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    height: 37px;
    width: 37px;
    margin-right: 22px;
    transition: 0.2s ease-in-out all;
}

nav img:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 500px) {
    nav img {
        height: 24px;
        width: 24px;
        margin-right: 14px;
    }
}

@media screen and (max-width: 386px) {
    nav img {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }
}

nav h3,
nav button {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89px;
    transition: 0.15s all ease-in-out;
}

@media screen and (max-width: 598px) {
    nav h3,
    nav button {
        width: 68px;
    }
}

@media screen and (max-width: 500px) {
    nav h3,
    nav button {
        width: 54px;
    }
}

@media screen and (max-width: 386px) {
    nav h3,
    nav button {
        width: 40px;
    }
}

nav .first {
    margin-right: 14px;
}

nav h3 {
    font-size: 16px;
    padding: 11px 0px 10px 0px;
}

@media screen and (max-width: 598px) {
    nav h3 {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    nav h3 {
        font-size: 11px;
    }
}

@media screen and (max-width: 386px) {
    nav h3 {
        font-size: 9px;
    }
}

nav .first {
    @media screen and (max-width: 386px) {
        width: 44px;
    }
}

nav button {
    margin-left: 24px;
    font-size: 15px;
    color: white;
    background-color: #1B4571;
    border: none;
    border-radius: 20px;
    padding: 7px 18px;
}

@media screen and (max-width: 598px) {
    nav button {
        font-size: 14px;
        width: 76px;
    }
}

@media screen and (max-width: 500px) {
    nav button {
        font-size: 11px;
        width: 58px;
        margin-left: 14px;
        padding: 4px 0px;
    }
}

@media screen and (max-width: 386px) {
    nav button {
        font-size: 9px;
        width: 50px;
        margin-left: 10px;
        margin-top: 1px;
    }
}

nav button:hover {
    background-color: #0041a3;
}
